---
---

// Load the dark/light themes
@import "themes";

// The overall design system
@import "rosetta-ds/rosetta-ds";

// Most coming bits and pieces
@import "shared/_shared";

// And the nav structure
@import "nav";

// And then a few little specifics to this gh page

.divider {
  width: 100%;
  background: #CCC;
  height: 1px;
  margin: 25px 0;
}

section {
  margin-top: 6rem;
  width: calc(100% / 24 * 12);
}

h2 {
  margin-bottom: 0rem;
}

.button {
  margin-top: 1rem;
}

footer {
  margin-top: 144px;
}

footer::before {
  content: " ";
  clear: both;
  display: block;
  margin-top: 72px;
  margin-bottom: 24px;
  border-bottom: 1px solid var(--text);
  width: 100%;
  max-width: 80rem;
}