/* Source Sans fonts (incl. italics) */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);

/* Bijou framework (minified) */

a{font-size:.95em;text-decoration:none;color:#5f90b0}a:hover{color:#406882}*{margin:0;padding:0;font-family:"Source Sans Pro",sans-serif}.container{width:1000px;margin:0 auto}.pull-left{float:left}.pull-right{float:right}.row{min-height:2em;line-height:2em;width:100%}.span{float:left;display:inline;min-height:1em;margin:0 2% 20px 2%}.span:first-child{margin-left:0}.span:last-child{margin-right:0}.one{width:8%}.two{width:16%}.three{width:24%}.four{width:32%}.five{width:40%}.six{width:48%}.seven{width:56%}.eight{width:64%}.nine{width:72%}.ten{width:80%}.eleven{width:88%}.twelve{width:100%}.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden}.row:before,.row:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0}.row:after{clear:both}.row{zoom:1}h1,h2,h3,h4,h5,h6{font-weight:500}h1{font-size:3.5em}h2{font-size:2.5em}h3{font-size:2em}h4{font-size:1.5em}h5{font-size:1em}h6{font-size:.8em}.table{width:100%;border-spacing:0;border-collapse:collapse;text-align:left}.table th,.table td{border-bottom:2px #d1d1d1 solid;padding:8px 12px}.table td{border-bottom:1px #d4d4d4 solid}.table.table-striped tbody tr:nth-child(2n+1){background-color:#f3f3f3}.table.table-bordered{border:1px #CCC solid}.table.table-bordered td,.table.table-bordered th{border:1px #CCC solid}.button{border:0;border-radius:4px;outline:0;cursor:pointer;}.button.small{padding:7px 20px;font-size:.95em}.button.large{padding:15px 45px;font-size:1.1em}.button.primary{color:#FFF;background:#5f90b0}.button.primary:hover{background:#5589ab}.button.success{color:#FFF;background:#4daf7c}.button.success:hover{background:#48a474}.button.danger{color:#FFF;background:#e6623c}.button.danger:hover{background:#e4572e}.navbar{background:#FFF;padding:10px;margin-bottom:10px;border-bottom:1px #DDD solid;height:30px}.navbar h4{color:#191919;font-weight:200}.navbar li{display:inline-block;padding:.3em 15px 0 0}.navbar li:last-child{padding-right:0}.navbar.fixed{position:fixed;left:0;right:0;top:0}.alert{padding:15px;margin:10px 0;border-radius:3px}.alert.primary{background:#e8eff3;border:1px #c5d7e3 solid}.alert.success{background:#daeee4;border:1px #b6dfca solid}.alert.danger{background:#fdf4f1;border:1px #f7cfc4 solid}@media only screen and (min-width: 768px) and (max-width: 999px){.container{width:768px}}@media only screen and (max-width: 767px){.container{width:300px}.container .table{width:100%;display:block;overflow:auto}}@media only screen and (min-width: 480px) and (max-width: 767px){.container{width:420px}.container .table{display:table}}

/* Custom modification */

body, li, p, h1, h2, h3, h4, h5 {
  color: #212121;
  font-size: 18px;
  line-height: 150%;
}
body {
  padding-top: 32px;
}

.grid {
  text-align: center;
}
.grid div {
  text-align: left;
}
.logo {
  width: 101px;
  height: 22px;
  text-indent: -2000px;
  overflow: hidden;
  background: url('/assets/rosetta-logo.svg');
  margin: 3px 0;
}
.navbar li {
  font-size: 16px;
}
.divider {
  width: 100%;
  background: #CCC;
  height: 1px;
  margin: 25px 0;
}

h1,h2,h3,h4 {
  font-weight: bold;
}
h1 {
  font-size: 2.5em;
  margin: 1.2em 0 0.5em;
}
h2 {
  font-size: 1.5em;
  margin: 1.5em 0 0.5em;
}
h3 {
  font-size: 1.5em;
  margin: 1em 0;
}
p {
  margin: 1em 0;
  width: 80%;
}

a {
  color: #24678A;
}
a:hover {
  color: #2A779F;
}
p a {
  border-bottom: 1px solid #E5F0F6;
}
.primary, .secondary, .primary:hover, .secondary:hover {
  border: 0;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
  padding: 7px 20px;
  font-size: 14px;
  color: #FFF;
  background: #C70028;
}
.primary {
  background: #C70028;
}
.primary:hover {
  color: #FFF;
  background: #DC3140;
}
.secondary {
  background: #24678A;
  color: #FFF;
}
.secondary:hover {
  color: #FFF;
  background: #2A779F;
}
.gray {
  color: #212121;
}
.hide {
  display: none;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  p {
    width: 100%;
  }
}