<!DOCTYPE html>
<html class="theme-light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </title>

    <meta name="description" content="{{ site.description }}">

    <!-- CSS (from rosettatype.github.io) -->
    <link rel="stylesheet" href="assets/styles.css">

    <script async defer data-domain="github.rosettatype.com" src="https://plausible.io/js/plausible.js"></script>
</head>

<body>
  <header id="nav">
      <ul class="main-nav-items">
           <li><a href='https://rosettatype.com'>Website</a></li>
           <li><a href='{{ site.github.repository_url }}'>GitHub</a></li>
           <li><a href='https://www.rosettatype.com/contact'>Contact</a></li>
      </ul>
      <div id="title-wrapper">
          <a id="title" href="/">Rosetta</a>
      </div>
  </header>

  <main>
      
      {{ content }}

      <footer>
        <div class="span ten gray">Copyright © Rosetta Type Foundry, s.r.o. and respective designers, 2011–2025.</div>
      </footer>
      
  </main>
</body>
</html>
